body {
  background: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.current-city {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: darkmagenta;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.current-details strong {
  color: blueviolet;
}
a {
  color: purple;
}
.weather-app {
  background: plum;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0);
}
header {
  border-bottom: 1px solid purple;
  padding-bottom: 30px;
}
.search-input {
  background-color: white;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 10px;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: purple;
  color: whitesmoke;
  border: none;
  padding: 20px 30px;
  line-height: 1;
  border-radius: 5px;
}
main {
  padding: 15px 0;
}
.current-temperature {
  font-size: 50px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature-icon {
  position: relative;
  top: 40px;
  margin-right: 5px;
}
.current-temperature-value {
  font-family: cursive;
  font-size: 60px;
  font-weight: bold;
}
.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: 10px;
}
footer {
  border-top: 1px solid purple;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
